* {
  margin: 0;
  padding: 0;
}

.display {
  display: flex;
  flex-direction: row;
}

.hide {
  display: none !important;
}

.groups {
  min-width: 25vw;
  max-width: 25vw;
}

.group-message {
  width: 74%;
}

.group-items {
  display: flex;
  justify-content: space-between;
  background: #aee7e1;
  font-size: large;
  margin: 8px 10px;
  padding: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.group-items span:last-child {
  order: 2;
  background: #78ad8d;
  border-radius: 14px;
  min-width: 1.8vw;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.group-items:hover {
  background: #128c7e;
}

.messages {
  min-height: 85vh;
  max-height: 85vh;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.u-joined {
  background: #f2f2f2;
  padding: 10px;
  width: 40vw;
  height: fit-content;
  font-size: medium;
  text-align: center;
}

.o-joined {
  padding: 10px;
  width: 40vw;
  height: fit-content;
  font-size: medium;
  text-align: center;
}

.u-message {
  background: #5dd187;
  padding: 10px;
  border-color: white;
  border-radius: 10%;
  width: auto;
  height: fit-content;
  font-size: medium;
  text-align: right;
  margin: 2px 2px 2px auto;
}

.o-message {
  background: #ffffff;
  padding: 10px;
  border-color: white;
  border-radius: 10%;
  width: auto;
  height: fit-content;
  font-size: medium;
  text-align: left;
  margin: 2px auto 2px 2px;
}

.send-messages > form {
  display: flex;
  gap: 0.2em;
  justify-content: center;
  align-items: center;
}

.send-messages > form > input {
  padding: 6px 10px;
  width: 48%;
  font-size: medium;
  outline: none;
  border-radius: 7px;
}

.send-messages > form > button {
  margin: 2px;
  padding: 5px 8px;
  border-radius: 4px;
  background-color: #075e54;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-messages > form > button:hover {
  background-color: #128c7e;
}

.show-users {
  max-height: 90vh;
  overflow-y: scroll;
}

.add-users {
  max-height: 85vh;
  overflow-y: scroll;
}

.user {
  background: #98ebcf;
  font-size: x-large;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  margin: 7px 0;
  transition: background-color 0.3s;
}

.user:hover {
  background-color: #ccc6c6;
}

.curr_user {
  background: #c4ec9f;
  font-size: x-large;
  display: flex;
  padding: 12px;
  justify-content: center;
  margin: 7px 0;
  transition: background-color 0.3s;
}

.curr_user:hover {
  background-color: #e0e0e0;
}

.add-user {
  background: #b9ecdb;
  font-size: x-large;
  padding: 12px;
  margin: 7px 0;
  transition: background-color 0.3s;
}

.add-user:hover {
  background-color: #bce2b0;
}

.admin span {
  margin: 0 15px;
  font-size: medium;
  color: blue;
  border-radius: 7px;
  border: 3px px solid #9c1a1ade;
  height: fit-content;
}

.user button {
  margin: 0px 9px;
  padding: 5px 5px;
  color: #0d0e0d;
}

.header {
  display: flex;
  align-items: center;
  height: 7vh;
  background: #0b7467;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  color: #fff;
}

#crete-grp {
  display: flex;
  align-items: center;
  height: 7vh;
  background: #1fac76;

  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  padding: 0px 50px;
  margin-left: 10px;
  position: relative;
  color: #fff;
  transition: background-color 0.3s, transform 0.3s;
}

#crete-grp:hover {
  background: #128c7e;
  transform: scale(1.05);
}

#crete-grp::after {
  content: "+";
  position: absolute;
  right: 10px;
}
